(Auto)Link Feature should respond to dropped text/uri-list, e.g., from browser's location bar

## 📝 Provide a description of the new feature

If you drag and drop and link from the location bar of a browser, this link is written in raw format to CKEditor text.

Open https://example.org/. From the location bar, drag into CKEditor.

Expected: `https://example.org/` is written to text, linking to https://example.org/
Actual: Only the text is written, without any `linkHref` attribute applied.

The data are provided in `text/uri-list` and may contain a list of URIs, and even comments according to [RFC 2483, Section 5](https://datatracker.ietf.org/doc/html/rfc2483#section-5).

Note, that similar to this, #5152 proposes to detect images within this URI-list and embed an image instead. This feature may have to integrate with that image behavior.

---

If you'd like to see this feature implemented, add a 👍 reaction to this post.


There has been no activity on this issue for the past two years. We've marked it as stale and will close it in 30 days. We understand it may be relevant, so if you're interested in the solution, leave a comment or reaction under this issue.

We've closed your issue due to inactivity over the last year. We understand that the issue may still be relevant. If so, feel free to open a new one (and link this issue to it).